.root {
  @apply max-w-[98px] w-full h-screen flex flex-col pt-[86px] border-2 border-white sticky transition-all ease-in-out duration-300 top-0 bottom-0 left-0;
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(15px);
}

.open {
  @apply max-w-[360px] transition-all ease-in-out duration-300;
}

.logo {
  @apply flex items-center justify-between pl-6 mb-5;
}

.icon {
  flex: 0 0 auto;
}

.logoOpen {
  @apply pl-9;
}

.logoText {
  @apply uppercase font-extrabold text-base relative max-h-6;
}

.logoText::after {
  content: '.';
  @apply absolute bottom-0 text-[#C50140];
}

.logoToHide {
  @apply w-0 flex justify-between ml-2.5 mr-5 items-center overflow-hidden;
}

.opened {
  @apply w-full max-w-[244px];
}

.button {
  @apply cursor-pointer border-none bg-transparent;
}

.menu {
  @apply flex flex-col space-y-[30px] mb-5;
}

.list {
  @apply flex flex-col w-0 space-y-5 border-t border-white pl-9 pt-2.5 overflow-hidden opacity-100 transition-all ease-in-out duration-300;
}

.listOpened {
  @apply w-auto;
}
